

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Inter', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../components/navigation.scss';

.container{
    max-width: 1050px;
    margin:0 auto;
    
   
}
body {
    width:100%;
    // background-image: url('/../public/assets/img/Vector1.svg');
    // background-size:contain;
    // background-repeat: no-repeat;
    // background-position:bottom ;
    // background-attachment: fixed;
    // background-position-y: 460px;
    margin:0 auto;
    font-family: 'Raleway', sans-serif;
    // margin-left: 20px;
    // margin-right: 20px;
    h1 {
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        color: #FFBF1C;
        font-size: 74px;
        font-weight: 800;
        display:flex;
        justify-content: flex-start;
       // margin-left: 90px;
        margin-top:70px;
        line-height: 0px;
       
    }
}
.home-del{
    width:0px;
}
 .title-welcome{
            font-size: 50px;  
        }
.table{
    width:800px;
  margin-bottom:80px;
    background-color: #fafafa;
    thead{
        background-color: #48AFCF;
        th{
            padding:23px;
            border:1px solid #B9B9B9;
            font-family: 'Roboto',sans-serif;
            font-weight: 700;
            font-size:15px;
            color:#ececec;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
        }
    }
    border:1px solid #B9B9B9;
    border-collapse: collapse;
    img{
        width:30px;
        padding:1px;
    }

    td{
        padding:8px;
        font-family:'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        color:#535353;
        text-transform: capitalize;
        border:1px solid #c2c2c2;
       
    }
    .facture-style{
            font-weight: bold;
            text-transform: uppercase;
            width:200px;
            
            font-size:17px;
            letter-spacing: 1px;
            
        }
       
    // td:nth-child(3n){
    //        width:150px;
    //        padding-left: 20px;
           
    //    }
    //    td:nth-child(2n){
    //     width:100px;
    //     padding-left: 20px;
    
    // }
    td:nth-child(5n){
        width:0px;
        
    
    }
    
} 
 
.titre-table{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#363636;
    
    
    
}
h2{
    font-family: 'Inter',sans-serif;
    color:#3f3f3f;
    font-weight: 500;
    font-size: 23px;
    display:flex;
    justify-content: flex-start;
    letter-spacing: 1px;
    margin-top:50px;
    
}
.button-container{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    gap: 10px;;
    margin-top:90px;
    .img-title{
        width:45px;
        padding:25px;
        transition:transform 200ms ease-in-out;
        &:hover{

            transform: scale(1.1);
        }
       
    }
    a{
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        color:#363636;
        font-weight: bold;
        
        &:hover{
            color:#FFBF1C;
            font-weight: bold;
            
        }
    }
}
.touti{    
display: flex;
align-items: center;
box-sizing: border-box;
margin-bottom:50px;

}
.img-title{
    width:450px;
    padding-left:50px;

}
.container-header{
    display:flex;
     justify-content: space-around;
     align-items: center;
     margin-top:40px;
}
.container-tilte{
    margin-top:10px;

}

.bg-color{
    background-color: #e0f8ff;
   height:470px;
}
.all-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
