@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 25px;
}
header .navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .navbarContainer img {
  width: 150px;
}
header .navbarContainer .linksContainer {
  margin-left: auto;
  margin-right: auto;
}
header .navbarContainer .linksContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
header .navbarContainer .linksContainer ul li {
  list-style-type: none;
  font-size: 16px;
  color: #48AFCF;
}
header .navbarContainer .linksContainer ul li:nth-child(-n+4) a {
  position: relative;
  text-decoration: none;
}
header .navbarContainer .linksContainer ul li:nth-child(-n+4) a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #48AFCF;
  bottom: -7px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .navbarContainer .linksContainer ul li:nth-child(-n+4) a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
header .navbarContainer .linksContainer ul li:nth-child(-n+4) a:visited {
  color: inherit;
}
header .navbarContainer .linksContainer ul li:last-child {
  border: 1px solid #48AFCF;
  padding: 20px 20px;
}
header .navbarContainer .linksContainer ul li:last-child a {
  text-decoration: none;
  color: #48AFCF;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: #FFBF1C;
  font-size: 54px;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
}

.table {
  width: 800px;
  background-color: #fafafa;
  border: 1px solid #B9B9B9;
  border-collapse: collapse;
}
.table thead {
  background-color: #48AFCF;
}
.table thead th {
  padding: 23px;
  border: 1px solid #B9B9B9;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ececec;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}
.table img {
  width: 40px;
  padding: 5px;
}
.table td {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #535353;
  text-transform: capitalize;
  border: 1px solid #c2c2c2;
}
.table .facture-style {
  font-weight: bold;
  text-transform: uppercase;
}
.table td:nth-child(3n) {
  width: 200px;
}

.titre-table {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #363636;
}

h2 {
  font-family: "Inter", sans-serif;
  color: #363636;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 90px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.button-container .img-title {
  width: 45px;
  transition: transform 300ms ease-in-out;
}
.button-container .img-title:hover {
  transform: scale(1.1);
}
.button-container a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #363636;
}
.button-container a:hover {
  color: #FFBF1C;
  font-weight: bold;
}

.touti {
  display: flex;
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  justify-items: center;
}

/*# sourceMappingURL=home.css.map */
